@page
@model Gram.Web.Pages.Events.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1><a asp-page="./Index" title="Back" class="fas fa-chevron-left nav-link text-dark"></a><a asp-page="./Edit" asp-route-id="@Model.Entity.Id" title="Edit" class="far fa-edit nav-link text-dark"></a>@Model.Entity.EventName</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Entity.EventStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Entity.EventStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Entity.EventDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Entity.EventDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Entity.EventDescription)
        </dt>
        <dd class="col-sm-10">
            <span style="white-space: pre-line">
                @Html.DisplayFor(model => model.Entity.EventDescription)
            </span>
        </dd>
    </dl>
</div>
<div>
    
    
</div>
<hr />
<fieldset>
    <legend><a asp-page="../Attendees/Create" asp-route-EventId="@Model.Entity.Id" class="far fa-plus-square nav-link text-dark"></a>Attendance</legend>
    <vc:event-attendees id="@Model.Entity.Id"></vc:event-attendees>
</fieldset>
