@page
@model Gram.Web.Pages.Events.IndexModel

@{
    ViewData["Title"] = "Events";
}

<h1><a asp-page="Create" class="far fa-plus-square nav-link text-dark"></a>Events</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Entity[0].EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entity[0].EventStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entity[0].EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entity[0].Attendees)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Entity) {
        <tr>
            <td>
                <div>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="far fa-edit nav-link text-dark"></a>
                    <a asp-page="./Details" asp-route-id="@item.Id" class="far fa-file-alt nav-link text-dark"></a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="far fa-trash-alt nav-link text-dark"></a>
                    @Html.DisplayFor(modelItem => item.EventName)
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attendees)
            </td>
        </tr>
        }
    </tbody>
</table>
