@page
@model Gram.Web.Pages.Administration.Partners.IndexModel

@{
    ViewData["Title"] = "Partners";
    ViewData["ActivePage"] = ManageNavPages.Partners;
}

<h1>
    <a asp-page="./Create" title="Create" class="ga far fa-plus-square"></a>
    Partners
</h1>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th class="fit"></th>
            <th>
                @Html.DisplayNameFor(model => model.Entity[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entity[0].EventsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entity[0].IsActive)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Entity)
        {
            <tr>
                <td class="fit">
                    <div>
                        <a asp-page="./Details" asp-route-id="@item.Id" title="Details" class="ga far fa-file-alt"></a>
                        <a asp-page="./Edit" asp-route-id="@item.Id" title="Edit" class="ga far fa-edit"></a>
                        <a asp-page="./Delete" asp-route-id="@item.Id" title="Delete" class="ga far fa-trash-alt"></a>
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventsCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
            </tr>
        }
    </tbody>
</table>
