@model System.Collections.Generic.List<Gram.Application.Attendees.Models.AttendeeListViewModel>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="fit"></th>
            <th>
                @Html.DisplayNameFor(model => model[0].Attendee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].AttendanceStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].StatusDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Remarks)
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td class="fit">
                        <div>
                            <a asp-page="../Attendees/Edit" asp-route-id="@item.Id" class="dark-nav far fa-edit"></a>
                            <a asp-page="../Attendees/Delete" asp-route-id="@item.Id" class="dark-nav far fa-trash-alt"></a>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Attendee)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AttendanceStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Remarks)
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">No attendance data present</td>
            </tr>
        }
    </tbody>
</table>
