@page
@model Gram.Web.Pages.Customers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1><a asp-page="./Index" class="fas fa-chevron-left nav-link text-dark"></a><a asp-page="./Edit" asp-route-id="@Model.Entity.Id" class="far fa-edit nav-link text-dark"></a>@Model.Entity.FirstName @Model.Entity.LastName</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Entity.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Entity.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Entity.Nationality)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Entity.Nationality)
        </dd>
    </dl>
</div>
