@page
@model Gram.Web.Pages.Administration.Partners.DeleteModel

@{
    ViewData["Title"] = "Delete";
    ViewData["ActivePage"] = ManageNavPages.Partners;
}

<h1>
    <a asp-page="./Index" title="Back" class="ga fas fa-chevron-left"></a>
    <a asp-page="./Details" asp-route-id="@Model.Entity.Id" title="Details" class="ga far fa-file-alt"></a>
    <a asp-page="./Edit" asp-route-id="@Model.Entity.Id" title="Edit" class="ga far fa-edit"></a>
    Delete partner
</h1>
<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Entity.Name)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Entity.Name)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Entity.ContactDetails.Mobile)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Entity.ContactDetails.Mobile)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Entity.ContactDetails.Email)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Entity.ContactDetails.Email)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Entity.ContactDetails.Facebook)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Entity.ContactDetails.Facebook)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Entity.ContactDetails.Instagram)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Entity.ContactDetails.Instagram)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Entity.ContactDetails.Twitter)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Entity.ContactDetails.Twitter)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Entity.ContactDetails.Web)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Entity.ContactDetails.Web)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Entity.EventsCount)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Entity.EventsCount)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Entity.IsActive)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Entity.IsActive)
        </dd>
    </dl>

    @if (Model.Entity.IsDeletable)
    {
        <form method="post">
            <input type="hidden" asp-for="Entity.Id" />
            <input type="hidden" asp-for="Entity.RowVersion" />
            <button type="submit" title="Delete" class="btn btn-danger">
                <span class="far fa-trash-alt"></span>
            </button>
        </form>
    }
    else
    {
        <h6 class="text-danger">Entity cannot be deleted since it is referenced in other entities</h6>
        <div>
            <button type="submit" title="Delete" class="btn btn-danger" disabled>
                <span class="far fa-trash-alt"></span>
            </button>
        </div>
    }
</div>
